/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ***********/
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 79px;

}
.home-logo {
    width: 61.09px;
    height: 19px;
    margin-top: 10px;
}

.navigation {
    display: flex;
}

.navigation ul {
    display: flex;
    gap: 68px;
    list-style-type: none;
}

.navigation a {
    position: relative;
}

.navigation a:hover {
    color: #0065FC;
}

.navigation a:hover:after {
    content: "";
    position: absolute;
    left: 0;
    top: -16px; /* Ajustez la position de la barre bleue selon vos besoins */
    width: 100%;
    height: 2px;
    background-color: #0065FC;
}

/****** Recherche et filtre ***********/
.research {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 281px;
    margin-top: 35px;
}

.research-title {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.research-function {
    margin-top: 24px;
}

.location_btn {
    width: 50px;
    height: 49px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px;
}

.location_btn:hover {
    cursor: default; /* Cursor default pour microsoft */
    pointer-events: none; /* Désactive le fait de pouvoir cliquer */
}

.location_btn .fa-solid {
    color: black;
    width: 14px;
    height: 18px;
}

.formulaire-test {
    display: inline-flex;
}

.search_input {
    font-weight: bold;
    color: black;
    width: 222px;
    font-size: 18px;
    text-align: center;
    border: 1px;
}

.research_btn {
    color: white;
    font-weight: bold;
    background-color: #0065FC;
    border: none;
    width: 132px;
    height: 49px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.research-filter {
    display: flex;
    font-weight: bold;
    height: 50px;
    gap: 15px;
    margin-top: 30px;
}

.filter_btn .fa-solid {
    width: 22px;
    height: 22px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.filter_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: bold;
    border: solid 2px ;
    border-color: #D9D9D9;
    background-color: transparent;
    border-radius: 25px;
    padding: 15px;
    gap: 10px;

}

.filter_btn:hover {
    background-color: #DEEBFF;
}

.info-research {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

#info-icon {
    border: solid 1px #D9D9D9;
    border-radius: 60px;
    height: 24px;
    width: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.hebergements-cards, .populaires-cards, .activites-cards {
    pointer-events: none; /* Désactive le clique en dehors des cartes */
}

.hebergements-cards .card,
.populaires-cards .card,
.activites-cards .card {
    pointer-events: auto; /* Active le clique uniquement pour les cartes */
}


/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Trois colonnes égales */
    grid-gap: 20px; /* Espacement entre les cartes */
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    width: 250.33px;
    height: 207.25px;
}

.hebergements-cards img {
    width: 100%;
    height: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.plus-link-container {
    margin-top: 30px;
    font-weight: bold;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/

.activites {
    width: 100%;
    border-radius: 20px;
    padding: 0px;
    margin-top: 50px;
    box-sizing: border-box;
}

.activites-cards {
    display: flex;
    gap: 30px;
}

.activites-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    width: 297px;
    height: 439px;
    background-color: transparent;
}

.activites-cards img {
    width: 297px;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-cards .card-content {
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 5px;
    padding-left: 15px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

/****** Footer ***********/

.footer-container {
    width: 100%;
    margin-top: 50px;
    background-color: #F2F2F2;
}

.footer-infos {
    display: flex;
    padding-left: 15px;
}

.footer-infos ul {
    padding-left: 0;
    list-style: none;
    width: 446px;
}

.footer-infos li {
    padding-top: 10px;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}